.page-header {
    position: fixed;
    display: block;
    height: 40px;
    background-color: #2c3e50; 
    color: #ecf0f1; 
    padding: 10px 20px; 
    border-bottom: 1px solid #ebf3f1;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    
  }
  
  .page-header__container {
    position: relative;
    display: flex; 
    justify-content: center; 
    flex-grow: 1; 
  }
  
  .page-header__nav {
    display: flex; 
  }
  
  .page-header__nav-link {
    color: #ecf0f1; 
    text-decoration: none; 
    margin-right: 40px; 
    font-size: 1rem; 
    transition: color 0.3s ease; 
  }
  
  .page-header__nav-link:last-child {
    margin-right: 0; 
  }
  
  .page-header__nav-link:hover {
    color: #1abc9c; 
  }
  
  .page-header__nav-user,
  .page-header__nav-reg {
    display: flex; 
  }
  
  .page-header__nav-user-link,
  .page-header__nav-reg-link {
    margin-right: 40px;
    color: #1abc9c; 
    text-decoration: none; 
    font-size: 1rem; 
    padding: 10px 30px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }

  .page-header__nav-reg-link {
    margin-right: 10px;
  }
  
  .page-header__nav-user-link:hover,
  .page-header__nav-reg-link:hover {
    background-color: #16a085; 
    color: white; 
  }
  

  body {
    display: flex;
    margin: 0;
    background-color: #2c3e50; 
  }
  
  .sidebar {
    position: absolute; /* Панель расположена относительно страницы */
    top: 60px; /* Располагаем панель на 20px ниже шапки */
    width: 180px; /* Ширина панели */
    height: 600px;
    background-color: #2c3e50; 
    padding: 20px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
    border: 1px solid #ebf3f1;
    border-image-slice: 1;
    
  }

  .sidebar-btn {
    display: block; /* Каждая кнопка на новой строке */
    width: 100%; /* Кнопки занимают всю ширину панели */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 10px; /* Отступ между кнопками */
    background-color: #2c3e50; 
    color: #ecf0f1; /* Светлый текст */
    text-align: left; /* Выравнивание текста по левому краю */
    border: none; /* Убираем стандартную рамку кнопок */
    border-radius: 3px; /* Скругленные углы */
    cursor: pointer; /* Курсор меняется на указатель */
    transition: background-color 0.3s ease; /* Плавный переход фона */
    font-size: 13px;
  }
  
  .sidebar-btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Прозрачный белый фон при наведении */
  }

  /* Убираем последний отступ между кнопками */
  .sidebar-btn:last-child {
    margin-bottom: 0;
  }

  .columns {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    background-color: #34495e;
    padding: 10px;
    border-radius: 5px;
  }
  
  .column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-task-btn {
    background-color: #1abc9c;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-task-btn:hover {
    background-color: #16a085;
  }
  
/* Логотип */
.logo {
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease; /* Плавное вращение */
}

.logo-icon {
  font-size: 1.8rem;
  margin-right: 5px;
  color: #4caf50;
}

.logo-text {
  font-size: 1.5rem;
  color: #e0d4d4;
}

/* При наведении */
.logo:hover .logo-icon {
  transform: rotate(15deg); /* Легкое вращение иконки */
}












.tasks {
  margin-left: 200px; /* Отступ равен ширине боковой панели */
  margin-top: 40px;
  padding: 20px 0px 20px 20px;
  flex-grow: 1; /* Занимает оставшееся пространство */
  color: #ecf0f1;
}

/* Контейнер списка задач */
.task-list {
  background-color: #34495e;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Заголовок списка задач */
.task-list h2 {
  margin-top: 0;
}

/* Список задач */
.task-list ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.task-list li {
  background-color: #2c3e50;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
}

/* Кнопка добавления задачи */
.add-task-btn {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-btn:hover {
  background-color: #16a085;
}